{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <h1>Lista de Funcionários</h1>
    </br>
    <p>Criar Funcionario <a class="btn-sm btn-info" href="{% url 'create_funcionario' %}">+</a></p>
    </br>
    <h4>Funcionários da empresa</h4>
    {% for funcionario in object_list %}
        </br>
        {{ funcionario }}
        <a href="{% url 'edit_funcionario' funcionario.pk %}">
            Editar
        </a>
            /
        <a href="{% url 'delete_funcionario' funcionario.pk %}">
            Deletar
        </a>

    {% endfor %}
{% endblock %}