{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block main %}
    <h1>Funcionario {{ funcionario.nome }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form | bootstrap}}
        <button class="btn btn-success" type="submit">Salvar</button>
    </form>
    <br>
    <h3>Lista de documentos do funcionario</h3><br>
    {% for documento in funcionario.documento_set.all %}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ documento.arquivo.url }}">{{ documento }}</a>
            </li>
            {% empty %}
            <li class="list-group-item-danger list-group-item">
                Não existem documentos
            </li>
        </ul>
    {% endfor %}
    <br>
    {% if object %}
        <a class="btn btn-outline-info" href="{% url 'create_documento' user.id %}">Adicionar documento</a>
            <br>
    {% endif %}
    <br>
    <h3>Banco de Horas</h3><br>
    {% for horaextra in funcionario.horaextra_set.all %}
        <ul class="list-group">
            <li class="list-group-item-light list-group-item">
                <a href="{% url 'edit_hora_extra' horaextra.id%}">Motivo: {{ horaextra.motivo }} / Horas: {{ horaextra.horas }}</a>
            </li>
            {% empty %}
            <li class="list-group-item-danger list-group-item">
                Não existem registros de horas extras
            </li>
        </ul>
    {% endfor %}
    <br>
    {% if object %}
        <a class="btn btn-outline-info" href="{% url 'create_hora_extra' %}">Adicionar Hora Extra</a>
            <br>
    {% endif %}
    <br>
    <h4>Total de horas extras: {{ object.total_horas_extras }}</h4>
    <br>
{% endblock %}