{% extends 'base.html' %}

{% block title %}
Pagina Inicial
{% endblock %}
{% block main %}
Seja bem vindo
    <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          Olá {{ usuario.funcionario.nome }}
            <a href="{% url 'list_funcionario' %}">Gerenciar Funcionários</a>
            <a href="{% url 'list_departamento' %}">Gerenciar Departamentos</a>
        </div>
        <br class="col-sm">
            <a href="{% url 'logout' %}">Logout</a> /

            {% if usuario.funcionario.empresa %}
                <a href="{% url 'edit_empresa' usuario.funcionario.empresa.pk %}">Editar Empresa</a>
            {% else %}
                <a href="{% url 'create_empresa' %}">Criar Empresa</a>
            {% endif %}
        </div>
  </div>
{% endblock %}